<!DOCTYPE html>
<html>
<meta charset="utf-8">
	<head>
		<title>t-SNE</title>
		<link rel="stylesheet" type="text/css" href="../static/css/html5reset-1.6.1.css">
		<link rel="stylesheet" href="./../static/css/common.css">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="../static/javascript/lib/d3/d3.js"></script>
		<script src="../static/javascript/hsvConverter.js"></script>
		<script src="../static/javascript/dragselect.js"></script>
		<script src="../static/javascript/tsne.js"></script>
	</head>
	<body>
		<div id="content_graph">
		</div>

		<script>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			

			function randomColors(total) {
				var i = 360 / (total - 1); // distribute the colors evenly on the hue range
				var r = []; // hold the generated colors
				if(total==1)
					r.push(hsvToRgb(180,85,85));
				else
					for (var x=0; x<total; x++) {
						r.push(hsvToRgb(i*x, 85, 85));
						// you can also alternate the saturation and value for even more contrast between the colors
					}
				return r;
			}


			// 각 topic에 대한 좌표 초기화
			function calcTopicCoord(mappedX, cl_idx){
				var numberPerTopic = [];
				var topicCoordinates = [];
				var K = Math.max.apply(null,cl_idx);

				for(var i=0;i<K;i++) {
					numberPerTopic.push(0);
					topicCoordinates.push([0,0]);
				}
				
				for(var i=0;i<mappedX.length;i++) {
					topicIdx = cl_idx[i]-1;
					numberPerTopic[topicIdx]+=1;
					topicCoordinates[topicIdx][0] += mappedX[i][0];
					topicCoordinates[topicIdx][1] += mappedX[i][1];
				}
				
				for(var i=0;i<K;i++) {
					topicCoordinates[i][0]/=numberPerTopic[i];
					topicCoordinates[i][1]/=numberPerTopic[i];
				}
				
				return topicCoordinates
			}


			// 점 그리기
			function initPoint(svg_element, mappedX, cl_idx, topicCoordinates, Wtopk,circleSize,fontSize){
				svg_element.append('g')
					.selectAll("circle")
					.data(mappedX)
					.enter().append("circle")
					.attr('cx', function(d){ return d[0]; })
					.attr('cy', function(d){ return d[1]; })
					.attr("r", circleSize)
					.style("fill",function(d,i){
						var color = colors[cl_idx[i]-1];
						return 'rgb('+color[0]+','+color[1]+','+color[2]+')';
					})
					.attr('fill-opacity',0.7)
					
				svg_element.append('g')
					.selectAll('text')
					.data(topicCoordinates)
					.enter()
					.append('text')
					.attr('class','noselect')
					.attr('x', function(d) {return d[0];})
					.attr('y', function(d) {return d[1];})
					.text(function(d,i) {
						var topicWordString = i+'-';
						Wtopk[i].forEach(function(word) {
							topicWordString+=word+' ';
						});
						return topicWordString;
					})
					.attr('text-anchor','middle')
					.attr('font-family','sans-serif')
					.attr('font-size', fontSize+'px')
					.attr('font-weight', 'bold')
					.attr('fill', 'black');
			}



			function dragStart() {
				var p = d3.mouse(this);
				selectionRect.removePrevious();
				selectionRect.init(p[0], p[1]);
				
			}

			function dragMove() {
				var p = d3.mouse(this);
				selectionRect.update(p[0], p[1]);
			}

			function dragEnd() {
				var finalAttributes = selectionRect.getCurrentAttributes();
				if(finalAttributes.x2 - finalAttributes.x1 > 1 && finalAttributes.y2 - finalAttributes.y1 > 1){
					// range selected
					d3.event.sourceEvent.preventDefault();			// 이건 뭐지
					selectionRect.focus();

					selectedItems = [];

					mappedX.forEach(function(d,i){
						circleCoord = [d[0],d[1]];
						if(circleCoord[0]>finalAttributes.x1 && circleCoord[0]<finalAttributes.x2) {
							if(circleCoord[1]>finalAttributes.y1 && circleCoord[1]<finalAttributes.y2) {
								selectedItems.push(i+1)
							}
						}
					});
					if(selectedItems.length>0){
						$.getJSON($SCRIPT_ROOT+'/get_subTopic', {
							idx: JSON.stringify(selectedItems)
						},function(data){
							var mappedX_sub = data.mappedX_sub;
							var subCenterX = (selectionRect.currentX+selectionRect.originX)/2;
							var subCenterY = (selectionRect.currentY+selectionRect.originY)/2;

							// for rescale mappedX_sub
							var minX=minY=1e10,
								maxX=maxY=-1e10;
							mappedX_sub.forEach(function(d){
								if(d[0]>maxX) maxX=d[0];
								else if(d[0]<minX) minX = d[0];

								if(d[1]>maxY) maxY=d[1];
								else if(d[1]<minY) minY = d[1];
							});
							var rangeX = maxX-minX,
								rangeY = maxY-minY;

							var subWidth = selectionRect.element.attr('width'),
								subHeight = selectionRect.element.attr('height');
							var displayMul;
							if(width>height) displayMul=subHeight;
							else displayMul = subWidth;

							for(var i=0; i<mappedX_sub.length;i++){
								mappedX_sub[i][0] = mappedX_sub[i][0]/rangeX*displayMul*displayRatio + subCenterX;
								mappedX_sub[i][1] = mappedX_sub[i][1]/rangeY*displayMul*displayRatio + subCenterY;
							}


							var subTopicCoordinates = calcTopicCoord(mappedX_sub,data.cl_idx_sub);
							var boxDiagonalRatio = Math.sqrt((subWidth*subWidth+subHeight*subHeight)/(width*width+height*height));
							var subCircleSize = Math.max(circleSize*boxDiagonalRatio,5),
								subFontSize = Math.max(fontSize*boxDiagonalRatio,8);
							initPoint(selectionRect.parentElement, mappedX_sub, data.cl_idx_sub, subTopicCoordinates, data.Wtopk_sub, subCircleSize, subFontSize);
						});
					}

				} else {
					// single point selected
					selectionRect.remove();
				}
			}



			function rescale(mappedX,width,height) {
				// rescale mappedX
				var minX=minY = 1e10,
					maxX=maxY = -1e10;

				mappedX.forEach(function(d){
					if(d[0]>maxX) maxX=d[0];
					else if(d[0]<minX) minX = d[0];

					if(d[1]>maxY) maxY=d[1];
					else if(d[1]<minY) minY = d[1];
				});
				var rangeX = maxX-minX,
					rangeY = maxY-minY,
					displayRatio = 0.9;

				var displayMul;
				if (width>height) displayMul=height;
				else displayMul=width;

				for(var i=0; i<mappedX.length;i++){
					mappedX[i][0] = mappedX[i][0]/rangeX*displayMul*displayRatio + width/2;
					mappedX[i][1] = mappedX[i][1]/rangeY*displayMul*displayRatio + height/2;
				}

				return mappedX

			}


			function updatePoint(container,tsne,cl_idx,width,height){
				tsne.step();
				Y = rescale(tsne.getSolution(),width,height);
				topicCoordinates = calcTopicCoord(Y,cl_idx);

				container.selectAll('circle')
					.data(Y)
					.attr('cx', function(d) { return d[0]; })
					.attr('cy', function(d) { return d[1]; });

				container.selectAll('text')
					.data(topicCoordinates)
					.attr('x', function(d) { return d[0]; })
					.attr('y', function(d) { return d[1]; })
			}

			
			// zoom 이벤트
			function zoomed() {
				container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
			}

			var zoom = d3.behavior.zoom()
				.scaleExtent([0.1, 10])
				.on("zoom", zoomed);
			
			// drag select event
			var dragBehavior = d3.behavior.drag()
				.on("drag", dragMove)
				.on("dragstart", dragStart)
				.on("dragend", dragEnd);

			
			var cl_idx = {{ cl_idx }};
			var distanceMatrix = {{ distanceMatrix }};
			var K = 10;
			var Wtopk = [];
			{% for arr in Wtopk %}
				Wtopk.push({{arr|tojson}});
			{% endfor %}


			// initialize data. Here we have 3 points and some example pairwise dissimilarities
			var opt = {epsilon: 500}; // epsilon is learning rate (10 = default)
			var tsne = new tsnejs.tSNE(opt); // create a tSNE instance
			tsne.initDataDist(distanceMatrix);


			var colors = randomColors(K);
			var svg;
			var container;

			// svg attribute
			var margin = {top: -5, right: -5, bottom: -5, left: -5},
				width = $(window).width() - margin.left - margin.right,
				height =$(window).height() - margin.top - margin.bottom;
			var svg = d3.select("#content_graph").append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
			  .append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.right + ")")
				//.call(zoom)
				.call(dragBehavior);

			var rect = svg.append("rect")
				.attr("width", width)
				.attr("height", height)
				.style("fill", "none")
				.style("pointer-events", "all");


			for(var i=0;i<1000;i++) tsne.step();
			var mappedX = tsne.getSolution();

			container = svg.append('g')
			var topicCoordinates = calcTopicCoord(mappedX,cl_idx);
			var circleSize = 5,
				fontSize = 12;
			initPoint(container, mappedX, cl_idx, topicCoordinates, Wtopk,circleSize,fontSize);

			var stepAnimation = setInterval(function(){ updatePoint(container,tsne,cl_idx,width,height); }, 3);

		</script>
	</body>
</html>